footer {
  background-color: #302d33;
  padding: 80px 0;
  color: #fff;
}

footer .box {
  padding: 0 20px;
}

footer h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 800;
  width: max-content;
}

footer .logo {
  color: white;
  display:flex;
  align-items:center;
  gap:5px;
  margin-bottom: 20px;
}
footer h2 {
  font-size: 20px;
}
hr{
  border: 1px solid rgb(153, 153, 153);
  margin-top: 0;
}
footer .row {
  justify-content: center;
}

footer p {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.7;
}

footer h2 {
  margin-bottom: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer-list {
    list-style: none;
    padding: 0;
  }

  .footer-list li {
    margin-bottom: 10px;
    opacity: 0.6;
  }
}

/* Remove styles from li elements */
.footer li {
  list-style: none;
  margin-bottom: 0;
  opacity: 1; /* If you want to reset opacity */
}